* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #60a5fa;
    color: aliceblue;
}

header {
    padding-top: 25px;
    width: 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    text-align: center;
}

header,
.sets,
.buttons {
    margin-bottom: 30px;
}

.playerSelect,
.finalSetup,
.buttons {
    background-color: red;
    margin: auto;
    width: 75%;
    margin-bottom: 30px;
}

.playerSelect,
.buttons,
.players {
    text-align: center;
}

.players {
    margin-bottom: 15px;
}

.chooseSets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setCard {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 75%;
}